.main{
  position: absolute;
  left: 300px;
    background-color:rgba(255, 255, 255, 0.514);
    position: absolute;
    width: 1400px;
    left: 300px;
    background-color: whitesmoke;
}
.mainTitleList{
  display: grid;
  grid-template-columns: 300px 500px 500px;
  margin-top: 1%;
}
.mainName{
  margin-top: 2%;
}
.TeamVacitonList{
    background-color:rgba(255, 255, 255, 0.514);
}

.vacationName{
  margin-top: 5%;
}

.vacationSpan{
  display: grid;
  grid-template-columns: 300px 100px;
}
.vacationBox{
  display: grid;
  grid-template-columns: 300px 500px 500px;
  background: #1a54ab;
  margin-top: 1%;
  padding: 0.5%;
  color: #ffffff;
}

.teamMain{
  width: 1400px;
}

 #mainBtn{
  background:#1a54ab;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-bottom: 5%;
}
#mainBtn:hover{
  background:#E61E4D 27.5%;
  color:#E61E4D 27.5%;
}
#mainBtn:before,#mainBtn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #E61E4D 27.5%;
  transition:400ms ease all;
}
#mainBtn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#mainBtn:hover:before,#mainBtn:hover:after{
  width:100%;
  transition:800ms ease all;
} 
