@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import './Main/ShowModal.css';
@import './Main/TeamVacationEntry.css';
@import './Main/TeamVacationList.css';

.main{
  background-color:rgba(255, 255, 255, 0.514);
  position: relative;
  left: 300px;
  background-color: whitesmoke;
}

.mainGrid {
  padding-top: 2rem;
}

.mainTitleList{
  display: none;
  grid-template-columns: auto auto auto 5%;
  margin: 1rem 0;
}

.mainDivider {
  height: '50px';
}

.otherVacation {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.mainName {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.TeamVacationListContainer {
  margin-top: 1rem;
  box-shadow: inset 0 5px 10px rgba(0,0,0,0.4);
}

.noneUser {
  margin-top: 2rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  font-weight: bold;
}

.noneUser::before {
  content: "!";
  margin-right: 0.5rem;
  background-color: tomato;
  padding: 0 0.5rem;
  color: white;
  border-radius: 10px;
}

.TeamVacitonList{
    background-color:rgba(255, 255, 255, 0.514);
}

.userVacationList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vacationBox{
  display: grid;
  background: white;
  padding: 20px 20px;
  color: black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem 1.5rem;
  border-radius: 10px;
  grid-template-columns: 70% auto;
  grid-template-rows: 3rem;
}

.vacationBox>.userName {
  display: flex;
  background-color: #0682ff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 auto;
  border-radius: 10px;
  width: fit-content;
  padding: 0.2rem 1rem;
  justify-content: center;
  align-self: center;
  margin-left: 0;
}

/* 이 부분, 휴가 상태에 따라 서로 다른 css 적용하도록 수정해야 함 */
.VacationStatus {
  display: flex;
  background-color: #d8d8d8;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 auto;
  border-radius: 10px;
  width: fit-content;
  padding: 0.2rem 1rem;
  margin-right: 0;
  justify-content: center;
  align-self: center;
}

.VacationStatus.waiting {
  background-color: tomato;
  color: white;
}

.VacationStatus.approved {
  background-color: #97c330;
  color: white;
}

.vacationSpan {
  font-size: 1.5rem;
  font-weight: bolder;
  z-index: 0;
  grid-column: 1 / span 2;
}

.vacationSpan > div {
  display: inline;
  background-color: rgb(238, 238, 238);
  padding: 0
}

.vacationSpan > div:nth-of-type(1)::after {
  content: " ~ ";
  background-color: white;
  white-space: pre;
}

.vacationSpan>div:nth-of-type(2)::before {
  background-color: white;
  white-space: pre;
}


 #mainBtn{
  background:#1a54ab;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-bottom: 5%;
}
#mainBtn:hover{
  background:#E61E4D 27.5%;
  color:#E61E4D 27.5%;
}
#mainBtn:before,#mainBtn:after{
  content:'';
  /* position:absolute; */
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #E61E4D 27.5%;
  transition:400ms ease all;
}
#mainBtn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#mainBtn:hover:before,#mainBtn:hover:after{
  width:100%;
  transition:800ms ease all;
} 
