@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

.modalMain {
    margin-top: 20%;
}
.modal {
    margin-top: 40%;
    background-color: #eaeef8;
    border-radius: 100px;
    text-align:center;
    position: relative;
    margin:0 auto;
    width: 50%;
    height: 50%;
    font-family: 'Single Day', cursive;
}

.modal:focus {
  outline:0;
}

select {
    margin-left: 2%;
    margin-top: 5rem;
    width: 200px;
    padding: .8em .5em;
    border: 1px solid #999;
    background: no-repeat 95% 50%;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }
    
  #modal-button{
    background:rgba(28, 112, 180, 0.76) 27.5%;
    color:#fff;
    border:none;
    position:relative;
    height:15%;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-bottom: 5%;
    font-family: 'Single Day', cursive;
  }
  #modal-button:hover{
    background:#E61E4D 27.5%;
    color:#E61E4D 27.5%;
  }
  #modal-button:before,#modal-button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #E61E4D 27.5%;
    transition:400ms ease all;
  }
  #modal-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #modal-button:hover:before,#modal-button:hover:after{
    width:100%;
    transition:800ms ease all;
  } 
  
 #cancelBtn{
    font-family: 'Single Day', cursive;
    background:#1a54ab;
    color:#fff;
    border:none;
    position:relative;
    height:15%;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-top: 3%;
  }
  #cancel:hover{
    background:#fff;
    color:#1a54ab;
  }
  #cancel:before,#cancel:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:1px;
    width:0;
    background: #1a54ab;
    transition:400ms ease all;
  }
  #cancel:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #cancel:hover:before,#cancel:hover:after{
    width:100%;
    transition:800ms ease all;
  }