select {
    margin-left: 2%;
    margin-top: 2rem;
    width: 200px;
    padding: .8em .5em;
    border: 1px solid #999;
    font-family: inherit;
    background: no-repeat 95% 50%;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }
select::-ms-expand {
    display: none;
}

#modal-button {
    font-family: fantasy;
    font-size: medium;
    border-radius: 10px;
    margin-top: 2rem;
    text-align: center;
    position: relative;
	width: 20%;
	height: 20%;
	overflow: hidden;
}

#modal {
    background-color: #999;
    border-radius: 100px;
    text-align:center;
    position: relative;
    margin:0 auto;
    width: 50%;
    height: 50%;
}