.SignUp {
    border : 1px solid black;
    width : 500px;
    height: 500px;
    margin: 100px auto;
    background-color: #bcbaba;
}

.signUpInputContainer {
    margin: 20px auto;
    height: 300px;
    width: 300px;
}

.signUpEmailInput {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.signUpPasswordInput {
   font-family: "Roboto", sans-serif;
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
}
.signUpNameInput {
   font-family: "Roboto", sans-serif;
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
}
.signUpMobileInput {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
     width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.signUpSubmitButton {
    font-size: 30px;
}