.TeamVactionEntry{
    display: grid;
    background:#E61E4D 27.5%;
    margin-top: 0.5rem;
    width: 1400px;
    color: #FFFFFF;
}

.entryBox{
    margin-top: 1.5%;
    display: grid;
    grid-template-columns: 800px 300px 300px;
}

.TeamVacationData{
    display: grid;
    grid-template-columns: 150px 150px;
}